body {
    background-color: rgb(29, 28, 28);
}
.navbar a {
    font-size: 24px;
}
#navbarLogo {
    font-size: 30px;
}
h1 {
    color: whitesmoke;    
}
h1, .autoresTabla {
    margin-left: 15%;
}
/*Libros tabla*/
.librosTabla, .listaLibro {
    width: 70%;
    margin: 10px auto;
    font-size: 21px;
}
.librosTabla td {
    padding: 1% 1% 1% 0.5%;
}
.fecha_th {
    width: 20%;
}
.autoresTabla {
    width: 22%;
    font-size: 26px;
}
.autoresTabla td {
    padding: 2%;
}
.negrita {
    font-weight: 800;
}