body {
    background-color: rgb(29, 28, 28);
}
.navbar a {
    font-size: 24px;
}
#navbarLogo {
    font-size: 30px;
}
h1 {
    color: whitesmoke;    
}
h1, .autoresTabla {
    margin-left: 15%;
}
/*Libros tabla*/
.librosTabla, .listaLibro {
    width: 70%;
    margin: 2% auto;
    font-size: 21px;
}
.librosTabla td {
    padding: 1% 1% 1% 0.5%;
}
.fecha_th {
    width: 20%;
}
table .botones_th {
    width: 13%;
}
table img {
    width: 30%;
    margin-top: 2%;
}
.autoresTabla {
    width: 22%;
    font-size: 26px;
}
.autoresTabla td {
    padding: 2%;
}
.negrita {
    font-weight: 800;
}
form {
    width: 35%;
    margin-left: 15%;
    margin-top: 1%;
}
form .labelForm {
    color: antiquewhite;
    font-size: 24px;
}
.hide {
    display: none;
}
form #autorSelect {
    margin-top: 1%;
}
form .alertaSelect {    
    width: 23%;
    padding: 1%;
    margin-top: 0.3%;    
    text-align: center;    
}
.errorDiv {
    width: 25%;
    padding: 1%;
    margin: 2% auto;
    background: beige;
    border-radius: 3px;    
}
.errorDiv a {    
    color: mediumslateblue;
    text-decoration: none;
    font-weight: bold;
}
/*form label, form select, form #fechaInput {
    display: block;
}
form select, form #fechaInput {
    height: 28px;
    margin: 0% 1%;
}
form .autorFechaDiv {
    display: flex;
    align-items: center;
    margin: 1% 0%;
}*/